<%- include("layouts/header") %>
<h1>ะกะปััะฐะนะฝัะต ะบะพัะธะบะธ ๐ฑ</h1>
<div class="gallery">
  <% cats.forEach(cat => { %>
  <img src="<%= cat.url %>" alt="ะะพัะธะบ" class="cat-img" />
  <% }) %>
</div>
<%- include("layouts/footer") %>
